*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --blue-l :#99ceff ;
    --blue : #0084ff;
    --green-l :#b3e9cb;
    --green :#54c788  ;
    --red-l: #ffbfbf;
    --red : #ff8a8a ;
    --yellow-l :#ffddab ;
    --yellow : #ffc166 ;
    --violet-l : #c3c1f1;
    --violet : #9693e6 ;
}
html{
    font-size: 62.5%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    background-color: var(--blue);
}
nav ul{
    list-style: none;
    display: flex;
    padding-top: 4rem;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.853);
    position: fixed;
    top: 0;
    transition: all .5s ease;
    left: -100%;
    height: 100vh;
    width: 300px;
    z-index: 100;
}
.logo{
    margin-left: 4rem;
}
nav.active ul{
    left: 0;
}
nav ul li{
    margin: 1.5rem 0;
}
nav ul li a{
    font-size: 1.8rem;
    padding: 1.5rem 0;
    color: #fff;
    position: relative;
}
nav ul li a::after{
    content: '';
    position: absolute;
    height: 3px;
    border-radius: 3rem;
    left: 0;
    width: 100%;
    transform: scale(0);
    transition: all .3s ease;
    bottom: 0;
    background-color: #fff;
}
nav ul li a:hover::after{
    transform: scale(1);
}
.close{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-self: flex-end;
    margin-right: 5rem;
    margin-bottom: 4rem;
    cursor: pointer;
}
.close-bar{
    width: 31px;
    height: 3px;
    border-radius: 3rem;
    background-color: #fff;
    position: absolute;
}
.close-bar:nth-child(1){
    transform: rotate(45deg);
}
.close-bar:nth-child(2){
    transform: rotate(-45deg);
}
.hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 6rem;
    height: 6rem;
    margin-right: 4rem;
    cursor: pointer;
}
.hambar{
    width: 31px;
    height: 3px;
    border-radius: 3rem;
    background-color: #fff;
    position: absolute;
}
.hambar:nth-child(1){
    top: 18px;
}
.hambar:nth-child(3){
    bottom: 18px;
}
/* Hero */
#hero{
    display: grid;
    padding: 8rem 2rem;
    grid-template-rows: 380px 380px ;
    grid-template-columns: 32.5% 32.5% 32.5% ;
    gap: 2rem;
    grid-template-areas: 
    "hero-blue hero-blue hero-green"
    "hero-red hero-yellow hero-violet";
    width: 100%;
}

.hero-blue{
    grid-area: hero-blue;
    background-color: #b6dcff;
    border-radius: 1.5rem;
}
.hero-green{
    grid-area: hero-green;
    background-color: #ceffe4;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.hero-red{
    grid-area: hero-red;
    background-color: #f7bbbbd1;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero-green i , .hero-green h1 , .hero-green p{
    color: var(--green);
}
.hero-red i , .hero-red h1 , .hero-red p{
    color: var(--red);
}

.hero-yellow i , .hero-yellow h1 , .hero-yellow p{
    color: var(--yellow);
}
.hero-violet i , .hero-violet h1 , .hero-violet p{
    color: var(--violet);
}
.hero-box i{
    font-size: 7rem;
}
.hero-box{
    padding: 0 2.5rem;
    text-align: center;
}
.hero-box h1{
    font-size: 2.7rem;
    margin: 2.5rem;
}
.hero-box p{
    font-size: 1.6rem;
    font-weight: 600;
    font-size: 400;
    text-align: center;
    line-height: 2.5rem;
}
.hero-yellow{
    grid-area: hero-yellow;
    background-color: #ffeccf;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero-yellow i{
    background-color: var(--yellow);
    color:  #ffeccf ;
    padding: 1.4rem 1.7rem;
    border-radius: 2rem;
}
.hero-violet{
    grid-area: hero-violet;
    background-color: #d0cff9;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero-blue{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}
.hero-blue-desc{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    padding: 4rem 3rem;
    width: 60%;
}
.hero-blue-desc h1{
    font-size: 3rem;
    color: var(--blue);
}
.hero-blue-desc p{
    font-size: 1.6rem;
    color: #0161bb;
    line-height: 2.5rem;
    font-weight: 700;
    margin: 1.5rem 0;
}
.hero-blue-desc a{
    font-size: 2rem;
    color: #fff;
    background-color: var(--blue);
    padding: 1.5rem 6rem;
    font-weight: 600;
    border-radius: 3rem;
    transition: all .3s ease;
}
.hero-blue-desc a:hover {
    background-color: #fff;
    color: var(--blue);
}
.hero-blue-desc a i{
    margin-right: 1rem;
}

.hero-blue-img{
    position: absolute;
    height: 110%;
    width: auto;
    right: 0;
    top: -11px;
}
/* Plan */
#plan{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem 0;
    background-color: var(--violet);
}
.plan-1{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 900px;
}
.plan-head{
    width: 400px;
}
.plan-head img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.plan{
    display: flex;
    align-items: center;
    justify-content: center;
}
.plan-desc{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    padding: 0 2.5rem;
    width: 420px;
    margin-right: 3rem;
}
.plan-desc h1{
    font-size: 3rem;
    color: #fff;
}
.plan-desc p{
    font-size: 1.6rem;
    line-height: 3.5rem;
    color: #fff;
    margin: 2.5rem 0;
}
.plan-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 3rem;
    background-color: #fff;
    text-align: center;
    padding: 2.5rem 2.5rem;
    transform: translateY(-150px);
    width: 420px;
}
.plan-box img{
    width: 75%;
}
.plan-box h1{
    font-size: 2.5rem;
    margin: 3rem 0;
}
.plan-box p{
    font-size: 2rem;
    color: rgb(55, 55, 55);
    line-height: 3.5rem ;
    font-style: italic;
}
.plan-box i{
    font-size: 3rem;
    background-color: var(--violet-l);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 2.5rem 0;
    transition: all .3s ease;
}
.plan-box a:hover i{
    transform: translateY(10px);
}
/* Testimonials */
#testimonials{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem 0;
}
.testimonials-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2.5rem;
    width: 780px;
    margin-bottom: 5rem;
}
.testimonials-header h2{
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 200;
    text-transform: capitalize;
}
.testimonials-header h1{
    font-size: 4.5rem;
    margin: 2rem 0;
    color: var(--violet);
}
.testimonials-header p{
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 300;
}
.testimonials{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.testimonials-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 4rem;
    background-color: var(--red-l);
    border-radius: 2rem;
    margin: 2rem 0;
}
.testimonials-box:nth-child(2){
    background-color: var(--yellow-l);
}
.testimonials-box:nth-child(3){
    background-color: var(--green-l);
}
.testimonials-box-img{
    border-radius: 50%;
    width: 170px;
    height: 170px;
    overflow: hidden;
    margin-right: 4rem;
}
.testimonials-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonials-box-desc{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 600px;
}
.testimonials-box-desc p{
    font-size: 2rem;
    line-height: 4rem;
    color: #4d4d4d ;
}
.testimonials-box-desc p i{
    margin-right: 1rem;
    font-size: 2.5rem;
    color: #000;
}
.testimonials-box-desc p i:last-child{
    transform: rotateX(180deg);
    margin-left: 1rem;
}
.testimonials-box-desc h1{
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
}
@media screen and (max-width:1200px) {
    .hero-blue-img {
        position: absolute;
        height: 80%;
        width: auto;
        top: auto;
        right: 0;
        bottom: 0px;
    }
}
@media screen and (max-width:960px) {
    .hero-blue-img {
        height: 72%;
    }
    .plan-1 {
        width: 710px;
    }
    .plan-head {
        width: 330px;
    }
    .plan-box {
        width: 340px;
    }
    .plan-desc {
        width: 340px;
    }
    .testimonials-box-desc {
        width: 320px;
    }
    .testimonials-header {
        padding: 0 2.5rem;
        width: 95%;
    }
}
@media screen and (max-width:780px) {
    .plan {
        flex-direction: column;
    }
    .plan-box {
        transform: translateY(0);
        width: 420px;
    }
    .plan-1 {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .plan-head {
        width: 420px;
    }
    .plan-desc {
        width: 90%;
        margin-right: 0;
        margin: 3rem 0;
    }
    .plan-desc h1 {
        font-size: 5rem;
    }
    .testimonials-box {
        flex-direction: column;
        width: 80%;
    }
    .testimonials-box-img {
        margin-right: 0;
    }
    .testimonials-box-desc{
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-top: 2rem;
    }
}
@media screen and (max-width:800px) {

}
@media screen and (max-width:800px) {

}
@media screen and (max-width:800px) {

}
@media screen and (max-width:800px) {
    #hero{
        display: grid;
        padding: 8rem 2rem;
        grid-template-rows: 650px 380px 380px 380px 380px ;
        grid-template-columns: 100% ;
        gap: 2rem;
        grid-template-areas: 
        "hero-blue"
        "hero-green"
        "hero-red"
        "hero-yellow" 
        "hero-violet";
    }
    .hero-blue-img {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50% , 0%);
    }
    .hero-blue-img {
        height: 370px;
    }
    .hero-blue-desc {
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width:550px) {
    .plan-head {
        width: 90%;
    }
    .plan-desc{
        padding: 0;
    }
    .plan-desc h1 {
        font-size: 3rem;
        line-height: 4rem;
    }
    .plan-box {
        width: 85%;
    }
    .plan-box img {
        width: 100%;
    }
    .testimonials-header h1 {
        font-size: 3.5rem;
    }
}
@media screen and (max-width:500px) {
    .hero-blue-img {
        height: 285px;
    }
    .hero-blue-img {
        top: 57%;
    }
    #hero {
        grid-template-rows: 590px 380px 380px 380px 380px;
        padding: 8rem 2.5rem;
    }
    .hero-blue-desc {
        padding: 4rem 2rem;
    }
    .testimonials-box {
        flex-direction: column;
        width: 90%;
    }
    .testimonials-box {
        padding: 4rem 2rem;
    }
}
@media screen and (max-width:500px) {

    .hero-blue-desc a {
        padding: 1.5rem 3rem;
    }
    #hero {
        grid-template-rows: 620px 380px 380px 380px 380px;
    }
    .testimonials-header h1 {
        font-size: 3rem;
    }
}